.residentsWrapper {
  display: grid;
  width: 100%;
}

.residentsHeader {
  margin: 0 0 var(--space-12);
}

.residentsHeaderTitle {
  margin: 0;
}

.residentsCardWrapper {
  display: grid;
  grid-gap: var(--space-12);
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px) {
  .residentsCardWrapper {
    grid-gap: var(--space-16);
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }

  .residentsHeader {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--space-16);
  }
}
